body {
    font-family: 'Space Mono', monospace, Arial, sans-serif;
    word-spacing: -4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
    margin: 0;
    background-color: #f0f2f5;
}